<div class="container card" id="card-user">
  <p><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
  <p><%= @user.email %></p>

<%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-primary"  %>
</div>
