<div class="banner" style="background-image: url('<%= image_path("top-banner-marble.jpg")%>');">
  <div class="banner-content">
    <h1>Product Information Manager</h1>
    <%= link_to "Start now", prods_path, class: "btn btn-primary btn-lg", id:"btn-banner" %>
  </div>
</div>
