.show-table {
  width: 100%;
  // border-collapse: collapse;
  margin-bottom: 3em;
  th {
    padding: 1em;
    border-bottom: 0.1em solid $gray;
  }
  td {
    padding: 0.2em;
    a {
      color: $orange;
      &:hover {
        text-decoration: none;
      }
    }
    i {
      padding-top: 0.7em;
      padding-left: 0.7em;
    }
  }
}

#btn-add-price {
  display: flex;
}
